@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  animation: rotation 1s linear infinite;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
  height: 48px;
  width: 48px;
}

.container {
  background: linear-gradient(-45deg, #a80d0d, #0d9fa8);
  color: #f2f2f2;
  display: grid;
  height: 100vh;
  place-items: center;
}

.cardContainer {
  background-color: #00000050;
  border: none;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  height: 650px;
}

.name {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  font-size: 2.25rem;
  justify-content: center;
}

.propsContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 50px;
}

.image {
  max-height: 350px;
  max-width: 350px;
  object-fit: contain;
  width: 80%;
}

.textContainer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.textRow {
  display: flex;
}

.text {
  background-color: #6bc09e;
  border-radius: 25px;
  color: black;
  height: 40px;
  line-height: 40px;
  margin-right: 10px;
  padding: 0 15px;
  white-space: nowrap;
}

.buttonContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
}

.homeButton {
  background-color: #2ecc71;
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 0.9rem;
  height: 40px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  width: 100px;
}

.homeButton:hover {
  background-color: #27ae60;
  color: white;
}

.errorContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.error {
  color: white;
}
