@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes shake-vertical {
  0%,
  100% {
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    transform: translateY(8px);
  }
  80% {
    transform: translateY(6.4px);
  }
  90% {
    transform: translateY(-6.4px);
  }
}

.loader {
  animation: rotation 1s linear infinite;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
  height: 48px;
  width: 48px;
}

.container {
  background: linear-gradient(-45deg, #a80d0d, #0d9fa8);
  color: #f2f2f2;
  display: grid;
  height: 100vh;
  place-items: center;
}

.cardContainer {
  background-color: #ffffff20;
  border: none;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  height: 650px;
}

.name {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  font-size: 2.25rem;
  justify-content: center;
}

.detailContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 50px;
}

.image {
  max-height: 350px;
  max-width: 350px;
  object-fit: contain;
  width: 80%;
}

.image:hover {
  animation: shake-vertical 1s linear both;
}

.statsContainer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.statsRow {
  display: flex;
}

.stat {
  background-color: #ffffff40;
  border-radius: 25px;
  color: white;
  height: 40px;
  line-height: 40px;
  margin-right: 10px;
  padding: 0 15px;
  white-space: nowrap;
  width: 90px;
}

.types {
  background-color: #ffffff40;
  border-radius: 25px;
  color: white;
  height: 40px;
  line-height: 40px;
  margin-right: 10px;
  padding: 0 15px;
  white-space: nowrap;
  width: 220px;
}

.buttonContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
}

.prevButton,
.nextButton,
.homeButton {
  background-color: #2ecc71;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  height: 40px;
  margin: 0 5px;
  width: 70px;
}

.prevButton {
  background-image: url("../../assets/icons/svg/arrow-left.svg");
}

.nextButton {
  background-image: url("../../assets/icons/svg/arrow-right.svg");
}

.homeButton {
  background-image: url("../../assets/icons/svg/home.svg");
}

.prevButton:hover,
.nextButton:hover,
.homeButton:hover {
  background-color: #27ae60;
}

.errorContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.error {
  color: white;
}
