a {
  color: #f2f2f2;
  text-decoration: none;
}

.container {
  align-items: center;
  background-color: #ffffff20;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 330px;
  justify-content: center;
  transition: transform 0.2s ease-out;
}

.container:hover {
  transform: scale(1.05);
}

.image {
  max-height: 200px;
  max-width: 200px;
  object-fit: contain;
}

.typesContainer {
  display: flex;
  flex-direction: row;
}

.types {
  margin: 20px 40px;
}
