.container {
  align-items: center;
  background-color: burlywood;
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: center;
  width: 100vw;
}

.input {
  border: transparent;
  border-radius: 25px 0 0 25px;
  box-sizing: border-box;
  height: 30px;
  outline: none;
  padding: 0 12px;
  width: 210px;
}

.searchButton {
  border: transparent;
  border-radius: 0 25px 25px 0;
  box-sizing: border-box;
  cursor: pointer;
  height: 30px;
  padding: 0 10px;
}
