@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

.container {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.selectContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
}

.select {
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 0.9rem;
  height: 30px;
  outline: none;
  padding: 0 5px;
  width: 125px;
}

.resetButton {
  background-color: transparent;
  background-image: url("../../assets/icons/svg/x-circle.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.resetButton:hover {
  animation: jello-horizontal 0.9s linear both;
}
