.container {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.selectContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
}

.select {
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 0.9rem;
  height: 30px;
  outline: none;
  padding: 0 5px;
  width: 125px;
}

.resetButton {
  background-color: transparent;
  background-image: url("../../assets/icons/svg/x-circle.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.resetButton:hover {
  background-image: url("../../assets/icons/svg/x-circle-orange.svg");
}
