.home {
  align-items: center;
  background: linear-gradient(-45deg, #a80d0d, #0d9fa8);
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
}

.search {
  align-items: center;
  display: flex;
  margin-bottom: 25px;
}

.pagination {
  margin: 40px 0;
}

.prevButton,
.nextButton {
  background-color: #2ecc71;
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 0.9rem;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px 25px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.prevButton,
.nextButton:hover {
  background-color: #27ae60;
  color: white;
  cursor: pointer;
}
