.container {
  align-items: center;
  background: linear-gradient(-45deg, #a80d0d, #0d9fa8);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  overflow-x: hidden;
}

.title {
  color: #f2f2f2;
  font-size: 2rem;
}

.formFields {
  display: grid;
  grid-gap: 0 25px;
  grid-template-columns: repeat(4, 1fr);
}

.field {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

small {
  margin-bottom: 10px;
}

.label {
  color: #f2f2f2;
  font-size: 1.2rem;
  margin: 10px 0;
}

.input,
.select {
  border: none;
  border-radius: 25px;
  box-sizing: border-box;
  font-size: 0.9rem;
  height: 40px;
  margin-bottom: 5px;
  outline: none;
  padding: 0 13px;
  width: 150px;
}

.error {
  color: yellow;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
}

.homeButton,
.createButton {
  background-color: #2ecc71;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 0.9rem;
  height: 50px;
  margin: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  width: 70px;
}

.homeButton:hover,
.createButton:hover {
  background-color: #27ae60;
  cursor: pointer;
}

.homeButton {
  background-image: url("../../assets/icons/svg/home.svg");
}

.createButton {
  background-image: url("../../assets/icons/svg/check.svg");
}

@media (max-width: 767px) {
  .formFields {
    grid-template-columns: repeat(2, 1fr);
  }
}
